* {
			margin: 0;
			padding: 0;
	}
    body{
			background-image: url('IMAGES/bg.png');
			background-repeat: no-repeat;
			background-attachment: fixed;  
			background-size: cover;
			overflow-y: hidden;
	}
	
	nav{
			width: 100%;
			height: 60px;
			background-color: white;
	}
	nav p {
			font-family: Arial;
			color: #222;
			font-size: 25px;
			line-height: 55px;
			float:left;
			padding: 0px 20px ;
	}
	nav ul{
			float: left;		
	}
	nav ul li{
			float: left;
			list-style: none;
			position: relative;
	}
	nav ul li a{
			display:block;
			font-family: Arial;
			color: #222;
			font-size: 14px;
			padding: 22px 14px;
			text-decoration: none;
	}
	nav ul li a:hover{
			background-color: #f3f3f3;
	}
	nav ul li a:active{
			background-color: black;
			color: white;
	}
	nav ul li ul{
			display:none;
			position: absolute;
			background-color: white;
			padding: 10px;
			border-radius:0px 0px 4px 4px;
	}
	nav ul li:hover ul{
			display:block;
	}
	nav ul li ul li {
			width: 100px;
			border-radius:4px;
	}
	nav ul li ul li a{
			padding: 8px 10px;
			
	}
	nav ul li ul li a:hover{
			background-color: #f3f3f3;
	}
	nav ul li ul li a:active{
			background-color: black;
			color: white;
	}
	.main img{
			width:175px;
			margin: 20px 50px 60px;
	}
	.word > p{
			font-family: 'Poppins', sans-serif;
			color: white;
			font-size: 16px;			
	}
	.word{
		width: 35%;
		background-color:transparent;
		margin:8%;	
		margin-top: -2%;
		padding:5%;
		border-radius: 10px 50px;
	}
	.container {
			display: flex;
			flex-wrap: wrap;
			max-width: 100%;
			margin-top: 2em;
			margin-left: auto;
			margin-right: auto;
			justify-content: center;
	}
	
	#am{
		text-decoration:none;
		text-transform:uppercase;
		background-color: white;
		border: 2px solid gray;
		border-radius: 50px;
		font-weight:bold;
		font-size:17px;
		color: #686d76;	
		padding: 15px;
		text-align
	}
		
	#am:hover{
		border: 2px solid whitesmoke;
		font-weight:bold;
		color: #595959;
	}
	#am:active{
		border: 5px double white;
		color: black;	
	}
	img:hover{
		opacity:0.95;
	}