* {
			margin: 0;
			padding: 0;
	}
    body{
			background-image: url('../IMAGES/bgg6.png');
			background-repeat: no-repeat;
			background-attachment: fixed;  
			background-size: cover;
			height: 1000px;
			overflow-y:scroll;
	}
	
	nav{
			width: 100%;
			height: 60px;
			background-color: white;
	}
	nav p {
			font-family: Arial;
			color: #222;
			font-size: 25px;
			line-height: 55px;
			float:left;
			padding: 0px 20px ;
	}
	nav ul{
			float: left;		
	}
	nav ul li{
			float: left;
			list-style: none;
			position: relative;
	}
	nav ul li a{
			display:block;
			font-family: Arial;
			color: #222;
			font-size: 14px;
			padding: 22px 14px;
			text-decoration: none;
	}
	nav ul li a:hover{
			background-color: #f3f3f3;
	}
	nav ul li a:active{
			background-color: black;
			color: white;
	}
	nav ul li ul{
			display:none;
			position: absolute;
			background-color: white;
			padding: 10px;
			border-radius:0px 0px 4px 4px;
	}
	nav ul li:hover ul{
			display:block;
	}
	nav ul li ul li {
			width: 100px;
			border-radius:4px;
	}
	nav ul li ul li a{
			padding: 8px 10px;
			
	}
	nav ul li ul li a:hover{
			background-color: #f3f3f3;
	}
	nav ul li ul li a:active{
			background-color: black;
			color: white;
	}
	.box{	
			padding: 10px;
	}

	h1{
			font-family: 'Spinnaker', sans-serif;
			font-size: 3em;
			text-transform: uppercase;
			letter-spacing: 4px;
			font-weight: bold;
	}
	h4{
			font-family: Arial;
	}
	a > p{
			font-family: 'Libre Franklin', Arial, sans-serif;
			text-decoration:none;
			text-align: justify;
			color: black;
			font-size:16px;
			font-weight: bold;
	}
	img:hover.image1 {
			opacity: 0.70;
			border: 4px solid #e6e6e6;
	}
	img:active.image1 {
			border: 4px double #e6e6e6;
	}
	img {
			border: 4px solid white;
			border-radius:6%;
			width:170px;
			height:170px;
			margin: 10px;
			opacity: 2;	
	}
	.photo a{
			text-decoration: none;
			font-size:12px;
	}
	.photo{
			display: inline-block;
	}
	.container {
			display: flex;
			flex-wrap: wrap;
			max-width: 100%;
			margin-top: 2em;
			margin-left: auto;
			margin-right: auto;
			justify-content: center;
	}