body {
			background-color: #FDF5E6;
			font-family: 'Yusei Magic', Tahoma, sans-serif;
			color: black;
			font-size: 1em;	
	}
	h1 {
			text-align:center;
			font-family: 'Bree Serif', Rockwell, serif;
			font-size: 3em;
			background-color:#00203F;
			color:#FFDAB9;
			text-transform:uppercase;
			word-spacing:15px;
			letter-spacing:5px;
	}
	h2 {
			font-family: 'Bree Serif', Rockwell, serif;
			font-style:normal;
			font-weight:1000px;
			word-spacing:1px;
			letter-spacing:1px;
	}
	p{
			text-align: justify;
			text-indent: 60px;
			font-size: 16px;
			line-height: 20px;
			word-spacing: 6px;
	}
